$border-color: #282c2e;
$background-primary: rgb(17, 16, 16);
$button-color-launches: #00456b;

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(207, 207, 207, 0.959);
    height: 100%;
    padding-bottom: 2rem;

    &__container {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding: 2rem;
        box-sizing: border-box;
        background: $background-primary;
    }

    &__button_container {
        display: grid;
        grid-template-columns: repeat(4, calc(22%));
        margin: 1rem 0;
        gap: 1.2rem;
        
        > button {
           height: 4rem;
           font-size: small; 
        }

        button:nth-child(4n){
            background-color: orange;
        }
    }
}
